html {
  /* 清除默认样式 */
  --vueuse-safe-area-top: 0px !important;
  --vueuse-safe-area-right: 0px !important;
  --vueuse-safe-area-bottom: 0px !important;
  --vueuse-safe-area-left: 0px !important;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box-border {
  box-sizing: border-box;
}
